<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="csharp_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <csharp_client.Properties.Settings>
            <setting name="ipAddr" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="nick" serializeAs="String">
                <value>BetaTester</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>13000</value>
            </setting>
            <setting name="ssl" serializeAs="String">
                <value>False</value>
            </setting>
        </csharp_client.Properties.Settings>
    </userSettings>
</configuration>